html {
    font-family: 'Oswald', sans-serif;;
}
body{
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}


section article {
    transition: box-shadow 0.3 ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color:  #222;
    padding: 3rem; 
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3 ease;

}

footer a:hover{
    color: cornflowerblue;
}